<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01332636/blob/main/M%C3%B3dulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MÃ³dulo 2

##Tuple

In [1]:
A=(0,"Estefania",2.0,3)
A

(0, 'Estefania', 2.0, 3)

In [2]:
type(A)

tuple

In [3]:
#First two elements
A[0:2]

(0, 'Estefania')

###Indexing

In [4]:
print(A[0])
print(A[1])
print(A[2])

0
Estefania
2.0

In [5]:
#Last element with negative
A[-1]

3

###Concatenate

In [6]:
A = A + ("Abigail", 27)
A

(0, 'Estefania', 2.0, 3, 'Abigail', 27)

###Slicing

In [7]:
print(len(A))
print(A[0:2])
print(A[2:4])
print(A[4:6])

6
(0, 'Estefania')
(2.0, 3)
('Abigail', 27)

###Sorting

In [8]:
grades = (2,4,2,4,8,1,7)
gradesSorted = sorted(grades)
gradesSorted

[1, 2, 2, 4, 4, 7, 8]

###Nested Tuple

In [9]:
Nested = (1,2,("hi", "bye"), (9,1),("Abigail",(27, "december")))
Nested

(1, 2, ('hi', 'bye'), (9, 1), ('Abigail', (27, 'december')))

In [10]:
print("Element 0 of Tuple: ", Nested[0])
print("Element 1 of Tuple: ", Nested[1])
print("Element 2 of Tuple: ", Nested[2])
print("Element 3 of Tuple: ", Nested[3])
print("Element 4 of Tuple: ", Nested[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('hi', 'bye')
Element 3 of Tuple:  (9, 1)
Element 4 of Tuple:  ('Abigail', (27, 'december'))

In [11]:
print("Element 2, 0 of Tuple: ",   Nested[2][0])
print("Element 2, 1 of Tuple: ",   Nested[2][1])
print("Element 3, 0 of Tuple: ",   Nested[3][0])
print("Element 3, 1 of Tuple: ",   Nested[3][1])
print("Element 4, 0 of Tuple: ",   Nested[4][0])
print("Element 4, 1 of Tuple: ",   Nested[4][1][1])

Element 2, 0 of Tuple:  hi
Element 2, 1 of Tuple:  bye
Element 3, 0 of Tuple:  9
Element 3, 1 of Tuple:  1
Element 4, 0 of Tuple:  Abigail
Element 4, 1 of Tuple:  december

In [12]:
#Even string with a third index
print("Element 2, 0, 0 of Tuple: ",   Nested[2][0][0])
print("Element 2, 0, 1 of Tuple: ",   Nested[2][0][1])

Element 2, 0, 0 of Tuple:  h
Element 2, 0, 1 of Tuple:  i

In [13]:
#Index
Nested.index(2)

1

##Lists

In [14]:
B=["a","b", "c"]

In [15]:
# First two elements
B[0:2]

['a', 'b']

In [16]:
#Change one element to uppercase
B[0] = B[0].upper()
B

['A', 'b', 'c']

###Extend

In [17]:
#extend takes exactly one argument
B.extend("d")
B

['A', 'b', 'c', 'd']

###Append

In [18]:
#one new element
B.append([10,2])
B

['A', 'b', 'c', 'd', [10, 2]]

###Changing the list elements

In [19]:
B=["a","b", "c"]
print("Before change: ", B)
B[0]="New Year"
print("After change: ", B)

Before change:  ['a', 'b', 'c']
After change:  ['New Year', 'b', 'c']

In [20]:
print('Before change:', B)
del(B[1])
print('After change:', B)

Before change: ['New Year', 'b', 'c']
After change: ['New Year', 'c']

###Split

In [21]:
print("New Year".split())
print("New,Year".split(","))

['New', 'Year']
['New', 'Year']

###Copy and Clone

In [22]:
A = ["Estefania", 27, 1994]
B = A
print("A:", A)
print("B:", B)

A: ['Estefania', 27, 1994]
B: ['Estefania', 27, 1994]

In [23]:
print('B[0]:', B[0])
A[0] = "Abigail"
print('B[0]:', B[0])

B[0]: Estefania
B[0]: Abigail

In [24]:
B = A[:]
B

['Abigail', 27, 1994]

###Concatenate

In [25]:
C = ["New Year", 2022]
D =  A+B+C
D

['Abigail', 27, 1994, 'Abigail', 27, 1994, 'New Year', 2022]

##Sets

In [26]:
#List to set
A = set(["A", "B", "C", "A", "B", "C"])
A

{'A', 'B', 'C'}

In [27]:
#Add element
A.add("D")
A

{'A', 'B', 'C', 'D'}

###Intersection

In [28]:
B = set(["A", "B", "X", "Y", "Z"])
print("With &: ",A&B)
#or
print("With .intersection: ",A.intersection(B))

With &:  {'A', 'B'}
With .intersection:  {'A', 'B'}

###Difference

In [29]:
print("Difference of A: ", A.difference(B))
print("Difference of B: ", B.difference(A))

Difference of A:  {'D', 'C'}
Difference of B:  {'Z', 'X', 'Y'}

###Union

In [30]:
C=A.union(B)
C

{'A', 'B', 'C', 'D', 'X', 'Y', 'Z'}

###Supersets ans subsets

In [31]:
set(C).issuperset(A)

True

In [32]:
A.issubset(C)

True

In [33]:
set({"A", "Z"}).issubset(C)

True

##Dictionaries

In [34]:
A={"Name": "Estefania", "Age":27, "Nickname":"Aby"}
print(type(A))
A

<class 'dict'>

{'Name': 'Estefania', 'Age': 27, 'Nickname': 'Aby'}

###Using Keys and Values

In [35]:
A["Name"]

'Estefania'

In [36]:
A.keys()

dict_keys(['Name', 'Age', 'Nickname'])

In [37]:
A.values()

dict_values(['Estefania', 27, 'Aby'])

###Add and delete

In [38]:
A["Year"]=1994
A

{'Name': 'Estefania', 'Age': 27, 'Nickname': 'Aby', 'Year': 1994}

In [39]:
del(A["Year"])
A

{'Name': 'Estefania', 'Age': 27, 'Nickname': 'Aby'}

###Key in Dictionary

In [40]:
"Name" in A

True