<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01332636/blob/main/M%C3%B3dulo_4_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Módulo 4

##Reading Files

###Download Data

In [8]:
!pip install pyodide.http

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyodide.http in /usr/local/lib/python3.7/dist-packages (0.0.8)

In [9]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

('Example1.txt', <http.client.HTTPMessage at 0x7fcc6214d890>)

In [10]:
doc= "Example1.txt"
file = open(doc, "r")

In [11]:
file.name

'Example1.txt'

In [12]:
fileContent= file.read()
fileContent

'This is line 1 \nThis is line 2\nThis is line 3'

###Reading text files

In [13]:
doc= "Example1.txt"
file = open(doc, "r")

In [14]:
file.name

'Example1.txt'

In [15]:
file.mode

'r'

In [16]:
fileContent= file.read()
fileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [17]:
print(fileContent)

This is line 1
This is line 2
This is line 3

In [18]:
file.close()

###A better way to poen a file

In [19]:
with open(doc, "r") as file:
    FileContent = file.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [20]:
file.closed

True

In [21]:
print(fileContent)

This is line 1
This is line 2
This is line 3

In [22]:
with open(doc, "r") as file:
    print(file.read(6))

This i

In [23]:
with open(doc, "r") as file:
    print(file.read(6))
    print(file.read(9))
    print(file.read(10))
    print(file.read(15))

This i
s line 1

This is l
ine 2
This is l

In [24]:
#One line
with open(doc, "r") as file:
    print("first line: " + file.readline())

first line: This is line 1

In [25]:
with open(doc, "r") as file:
    print(file.readline(20)) # does not read past the end of line
    print(file.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [26]:
with open(doc,"r") as file:
        i = 0;
        for line in file:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [27]:
with open(doc, "r") as file:
    FileasList = file.readlines()

In [28]:
FileasList[0]

'This is line 1 \n'

###Second line

In [29]:
FileasList[2]

'This is line 3'

##Writing Files

In [30]:
doc2 = 'new_doc.txt'
with open(doc2, 'w') as writefile:
    writefile.write("This is line A")

In [31]:
with open(doc2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [32]:
with open(doc2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [33]:
with open(doc2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [34]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [35]:
with open('new_doc.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [36]:
with open('new_doc.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('new_doc.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

###Appending Files

In [37]:
with open('new_doc.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [38]:
with open('new_doc.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

###Additional modes

In [39]:
with open('mew_doc.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [40]:
with open('new_doc.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 55
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E

Location after read: 55

In [41]:
with open('new_doc.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E

###Copy a File

In [42]:
with open('new_doc.txt','r') as readfile:
    with open('doc3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [43]:
with open('doc3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E

###Exercise
Limpiar y mantener imformación

In [44]:
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [47]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

In [48]:
headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    95242      2015-4-6     yes
    43700      2019-7-7     yes
    35062      2020-12-16   yes
    84425      2016-8-20    yes
    91060      2018-7-3     yes
    68994      2019-12-23   yes
    45171      2016-6-25    yes
    99570      2019-10-16   yes
    73814      2017-5-2     yes
    90420      2018-1-22    yes
    90806      2019-4-19    yes

Inactive Members:


Membership No  Date Joined  Active
    59087      2020-7-20    no
    88589      2018-9-6     no
    10423      2017-2-8     no
    48248      2015-11-9    no
    39870      2016-6-15    no
    20543      2017-9-14    no
    99025      2017-5-17    no
    99750      2018-11-16   no
    27110      2015-3-21    no
    66601      2016-12-15   no
    20078      2020-10-21   no
    71708      2020-2-24    no

##Loading Data with Pandas

###Video

In [54]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       380        40
2       390        45

In [55]:
df.iloc[1,0]

380

In [56]:
df.iloc[0,1]

50

In [57]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

###Get to know pandas array

In [60]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [61]:
df.head(2)

    a   b
0  11  21
1  21  22

In [64]:
df["a"]

0    11
1    21
2    31
Name: a, dtype: int64

In [65]:
df.a

0    11
1    21
2    31
Name: a, dtype: int64

##Working with and Saving Data with Pandas

In [67]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [68]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

##Loading Data and Viewing Data